# GitHub Packages token used by Docker build to download private dependencies.
GITHUB_TOKEN=replace_me

# Image Tag
IMAGE_TAG=dev

# API Gateway
API_GATEWAY_NAME=api-gateway
API_GATEWAY_PORT=8080

# Auth Service
AUTH_NAME=auth-service
AUTH_PORT=8081
AUTH_GRPC_HOST=auth-service
AUTH_GRPC_PORT=9090

AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=auth_password

AUTH_SPRING_DATASOURCE_URL=jdbc:postgresql://auth-postgres:5432/auth_db
AUTH_SPRING_DATASOURCE_USERNAME=auth_user
AUTH_SPRING_DATASOURCE_PASSWORD=auth_password

# User Service
USER_NAME=user-service
USER_PORT=8082
USER_GRPC_HOST=user-service
USER_GRPC_PORT=9091

USER_POSTGRES_DB=user_db
USER_POSTGRES_PORT=5433
USER_POSTGRES_USER=user_user
USER_POSTGRES_PASSWORD=user_password

USER_SPRING_DATASOURCE_URL=jdbc:postgresql://user-postgres:5432/user_db
USER_SPRING_DATASOURCE_USERNAME=user_user
USER_SPRING_DATASOURCE_PASSWORD=user_password

# Account Service
ACCOUNT_NAME=account-service
ACCOUNT_PORT=8083
ACCOUNT_GRPC_HOST=account-service
ACCOUNT_GRPC_PORT=9092

ACCOUNT_POSTGRES_DB=account_db
ACCOUNT_POSTGRES_PORT=5434
ACCOUNT_POSTGRES_USER=account_user
ACCOUNT_POSTGRES_PASSWORD=account_password

ACCOUNT_SPRING_DATASOURCE_URL=jdbc:postgresql://account-postgres:5432/account_db
ACCOUNT_SPRING_DATASOURCE_USERNAME=account_user
ACCOUNT_SPRING_DATASOURCE_PASSWORD=account_password

# Card Service
CARD_NAME=card-service
CARD_PORT=8084
CARD_GRPC_HOST=card-service
CARD_GRPC_PORT=9093

CARD_POSTGRES_DB=card_db
CARD_POSTGRES_PORT=5435
CARD_POSTGRES_USER=card_user
CARD_POSTGRES_PASSWORD=card_password

CARD_SPRING_DATASOURCE_URL=jdbc:postgresql://card-postgres:5432/card_db
CARD_SPRING_DATASOURCE_USERNAME=card_user
CARD_SPRING_DATASOURCE_PASSWORD=card_password

# Transaction Service
TRANSACTION_NAME=transaction-service
TRANSACTION_PORT=8085
TRANSACTION_GRPC_HOST=transaction-service
TRANSACTION_GRPC_PORT=9094

TRANSACTION_POSTGRES_DB=transaction_db
TRANSACTION_POSTGRES_PORT=5436
TRANSACTION_POSTGRES_USER=transaction_user
TRANSACTION_POSTGRES_PASSWORD=transaction_password

TRANSACTION_SPRING_DATASOURCE_URL=jdbc:postgresql://transaction-postgres:5432/transaction_db
TRANSACTION_SPRING_DATASOURCE_USERNAME=transaction_user
TRANSACTION_SPRING_DATASOURCE_PASSWORD=transaction_password

# Notification Service
NOTIFICATION_NAME=notification-service
NOTIFICATION_PORT=8086
NOTIFICATION_GRPC_PORT=9095

NOTIFICATION_MONGO_HOST=notification-mongodb
NOTIFICATION_MONGO_PORT=27017
NOTIFICATION_MONGO_DB=notification_db
NOTIFICATION_MONGO_USER=notification_user
NOTIFICATION_MONGO_PASSWORD=notification_password

# Kafka
KAFKA_CONTAINER_PORT=9092
KAFKA_LOCAL_PORT=29092
KAFKA_CONTROLLER_PORT=9093
KAFKA_UI_PORT=8079
