# GitHub Packages token used by Docker build to download private dependencies.
GITHUB_TOKEN=replace_me

# Image Tag
IMAGE_TAG=dev

API_GATEWAY_NAME=api-gateway
API_GATEWAY_PORT=8080

# Local run: gateway connects to services running on the host.
AUTH_GRPC_HOST=localhost
AUTH_GRPC_PORT=9090

USER_GRPC_HOST=localhost
USER_GRPC_PORT=9091

ACCOUNT_GRPC_HOST=localhost
ACCOUNT_GRPC_PORT=9092

CARD_GRPC_HOST=localhost
CARD_GRPC_PORT=9093

TRANSACTION_GRPC_HOST=localhost
TRANSACTION_GRPC_PORT=9094
