# GitHub Packages token used by Docker build to download private dependencies.
GITHUB_TOKEN=replace_me

# Site Url
SITE_URL=https://buro-bank.ru

# Image Tag
IMAGE_TAG=dev

NOTIFICATION_NAME=notification-service
NOTIFICATION_PORT=8086
NOTIFICATION_GRPC_PORT=8095
SITE_URL=http://localhost:8080

NOTIFICATION_POSTGRES_DB=notification_db
NOTIFICATION_POSTGRES_PORT=5437
NOTIFICATION_POSTGRES_USER=notification_user
NOTIFICATION_POSTGRES_PASSWORD=notification_password

NOTIFICATION_SPRING_DATASOURCE_URL=jdbc:postgresql://notification-postgres:5432/notification_db
NOTIFICATION_SPRING_DATASOURCE_USERNAME=notification_user
NOTIFICATION_SPRING_DATASOURCE_PASSWORD=notification_password

NOTIFICATION_MONGO_HOST=localhost
NOTIFICATION_MONGO_PORT=27017
NOTIFICATION_MONGO_DB=notification_db
NOTIFICATION_MONGO_USER=notification_user
NOTIFICATION_MONGO_PASSWORD=notification_password
NOTIFICATION_MONGO_URI=mongodb://notification_user:notification_password@localhost:27017/notification_db?authSource=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:29092

SCHEMA_REGISTRY_URL=http://localhost:9081

MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@YOUR_DOMAIN
MAIL_PASSWORD=YOUR_SMTP_PASSWORD
